body {
    padding-top: 5rem;
}

nav {
    height: 5rem;
    padding: 0;
    padding: 0 !important;
    background: rgba(255, 255, 255, 0.99);
}

.nav-logo {
    width: 4.7rem;
    height: 4.7rem;
}

.logo-text {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--primary-color);
    /* text-transform: capitalize !important; */
}

#offcanvasNavbar {
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(2px);
}